:host {
  user-select: none;

  font-family: var(--font-family-monospace);
  font-size: var(--font-size-l);
  background-color: var(--color-black);
  color: var(--color-off-white);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) * 0.2) calc(var(--spacing) * 0.3);
}
