:root {
  --spacing: 1em;
  --max-width: 800px;

  --font-family-sans-serif: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spacing);
}

header h1 {
  flex: 1;
  max-width: var(--max-width);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: var(--spacing);
}

.image-selector {
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1em;
}

.image-selector button {
  padding: 0;
  background: transparent;
  border: 0;
}

.image-selector button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  background-color: #ddd;

  width: var(--width);
  height: var(--height);
}

.piece {
  position: absolute;
  padding: 0;
  border: 0;

  width: var(--width);
  height: var(--height);
  transform: translate3d(
    calc(var(--position-x) * 1px),
    calc(var(--position-y) * 1px),
    0
  );
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: var(--background-width) var(--background-height);
  background-position: var(--image-position-x) var(--image-position-y);
}

.piece.shuffle {
  /*animation: piece-shuffle 0.5s ease 3s 1 forwards;*/
}

.piece.shuffle-done {
  border: 1px solid #ddd;
}

.piece.selected::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.piece.move {
  animation: piece-move 0.5s ease 0s 1 forwards;
}

@keyframes piece-shuffle1 {
  from {
    transform: translate3d(var(--position-x), var(--position-y), 0);
  }

  to {
    transform: translate3d(var(--final-position-x), var(--final-position-y), 0);
  }
}

@keyframes piece-move1 {
  from {
    transform: translate3d(var(--position-x), var(--position-y), 0);
  }

  to {
    transform: translate3d(var(--final-position-x), var(--final-position-y), 0);
  }
}

.display-none {
  display: none;
}
