a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:focus-visible,
a:focus,
a:active {
  outline: none;
}
