za-settings-screen {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  color: var(--color-black);
  padding: var(--spacing);
  gap: var(--spacing);
}

.settings-form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .settings-form {
    margin: 0 auto;

    max-width: var(--max-width);
  }
}

.settings-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;

  padding: calc(var(--spacing) * 2) 0;
}

.settings-section legend {
  user-select: none;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.settings-choices {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.settings-choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-choice-label {
  text-align: center;
  user-select: none;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  padding-top: var(--spacing);
}

.settings-choice-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: 0.2s all linear;

  background-color: var(--color-off-white);
  border: 5px solid var(--color-black);
}

.settings-choice-radio:checked {
  background-color: var(--color-black);
  border: 0;
}

.settings-choice-radio:focus-visible {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
}
